.board-container {
    width: 66%;
    padding: 10px;
    margin-top: 10px;
  }
  
  .message-list {
    margin-left: 60px;
    max-height: 400px;
    overflow-y: auto;
    text-align: left;

  }
  
  .message-form {
    margin-left: 60px;

    display: flex;
    width: 66%;
    margin-top: 10px;
    margin-top: auto; 
    position: fixed; 
    bottom: 0; 
  }
  
  .message-input {
    flex-grow: 1;
    padding: 10px;
  }
  
 

h1{
    color:rgb(133, 32, 32);
}

.main-board-container {
  display: flex;
  height: 100vh;
  margin-top: 30px;
  background-color: white;
}

.sidebar-container {
  flex: 0 0 20%; 
  max-width: 20%; 
  min-width: 200px; 
}

  

.message-sent {
  text-align: left;
  background-color: #eae8e8; 
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left:50%;
  word-break: break-word;
}

.message-received {
  text-align: left;
  background-color: #eae8e8; 
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right:50%;
  word-break: break-word;
  
}

.message-no-top-border {
  border-top: none;
}

.searchmessagesbar {
  width: 20%;
  margin-left: 60px;
  margin-bottom: 10px;
}

.send-message-button {
  background-color: rgb(133, 32, 32, 0.9); 
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}