.board-container {
    width: 66%;
  }
  
  .message-list {
    /* Styles for the message list */
    margin-left: 60px;
    max-height: 400px;
    overflow-y: auto;
    text-align: left;

  }
  
  .message-form {
    /* Styles for the message form */
    display: flex;
    width: 66%;
    margin-top: 10px;
    margin-top: auto; /* Push the message-form to the bottom */
    position: fixed; /* Fix the position */
    bottom: 0; /* Stick it to the bottom */
  }
  
  .message-input {
    /* Styles for the message input field */
    flex-grow: 1;
    padding: 10px;
  }
  
  .send-message-button {
    /* Styles for the send message button */
    padding: 10px 20px;
  }

h1{
    color:black;
}

.main-board-container {
  padding: 60px;
  display: flex;
  height: 100vh;
  margin-top: 30px;
}

.sidebar-container {
  flex: 0 0 auto;
}
  