.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .manage-channels-popup {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; 
    width: 100%;
}

.manage-channels-popup ul {
    list-style-type: none;
    padding: 0;
}
  
  .manage-channels-popup li {
    margin-bottom: 10px; 
}

.manage-button {
    background-color: rgb(133, 32, 32, 0.9); 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}